*{
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
}
section{
	background-color: #0A1172;
}
h1{
	color: white;
	padding-bottom: 10px;
	padding-top: 50px;
}
.conteiner{
	max-width: 1440px;
  	width: 90%;
  	margin-left: auto;
  	margin-right: auto;
}
.box{
	width: 100%;
	height: 100%;
	color: #0A1172;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.parent{
	display: grid;
	padding-bottom: 80px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	gap: 20px;
	grid-template-areas:
		"masonry1 respnsive overlap overlap"
		"masonry1 fluid explicitly negative"
		"flexible masonry2 explicitly masonry3"
		"dom masonry2 named named";
}
.item1{
	grid-area: masonry1;
}
.item2{
	grid-area: respnsive;
}
.item3{
	grid-area: overlap;
}
.item4{
	grid-area: fluid;
}
.item5{
	grid-area: explicitly;
}
.item6{
	grid-area: negative;
}
.item7{
	grid-area: flexible;
}
.item8{
	grid-area: masonry2;
}
.item9{
	grid-area: masonry3;
}
.item10{
	grid-area: dom;
}
.item11{
	grid-area: named;
}